openapi: 3.0.1
info:
  title: Identity API
  version: version not set
servers:
- url: https://api.wunderkind.co
  description: Identity API
tags:
- name: IdentityExternal
paths:
  /id-resolution/v1/identity/lookup/batch:
    post:
      description: ''
      operationId: post_id-resolutionv1identitylookupbatch
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      properties:
                        device_id:
                          type: string
                          default: '123456789'
                        email:
                          type: string
                          description: Sha256 email hash
                          default: b36a83701f1c3191e19722d6f90274bc1b5501fe69ebf33313e440fe4b0fe210
                      type: object
                required:
                - results
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '404':
          description: Identity not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
      parameters:
      - in: header
        name: Authorization
        schema:
          type: string
          default: apikey {apikey}
          enum:
          - apikey {apikey}
        description: This header is expected to be set according to the pattern below, where {apikey}
          is client's private key created on Wunderkind Platform. Select id-resolution API product to
          create the API key. See https://developer.wunderkind.co/docs/authenticate-api-requests#/
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                website_id:
                  type: string
                  description: The website ID that the lookup will be performed for.
                device_ids:
                  type: string
                  description: A list of WKND device IDs (at least one). Each item should be a valid deviceID.
              required:
              - website_id
              - device_ids
      x-readme:
        code-samples:
        - code: "curl -X POST https://api.wunderkind.co/id-resolution/v1/identity/lookup/batch \\\n  --header\
            \ 'Authorization: apikey {apikey}' \\\n  -H 'Content-Type: application/json' \\\n  -d '{\n\
            \    \"website_id\": \"1234\",\n    \"device_ids\": [\"123456789\", \"987654321\"]\n  }'"
          language: shell
          name: ''
        samples-languages:
        - shell
  /v1/identity/lookup:
    servers:
    - url: https://localhost:8081
      description: Identity Lookup API is an internal API
    post:
      description: ''
      operationId: post_v1identitylookup
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  external_id:
                    type: object
                    properties:
                      id:
                        type: string
                      name:
                        type: string
                      encryption_key_name:
                        type: string
                    required:
                    - id
                    - name
                required:
                - external_id
              examples:
                OK:
                  summary: OK
                  value:
                    external_id:
                      id: string
                      name: encrypted_email_hash
                      encryption_key_name: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '404':
          description: Identity not found
          content:
            application/json:
              schema:
                type: object
                properties: {}
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
      parameters:
      - in: header
        name: Content-Type
        schema:
          type: string
        description: Must be application/json
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  device_id:
                    type: string
                    description: ''
                  website_id:
                    type: string
                    description: ''
                  external_id_type:
                    type: string
                    enum:
                    - encrypted_email_hash
                    - '{client-specific}'
                required:
                - device_id
                - website_id
                - external_id_type
                title: Lookup by device id
              - type: object
                properties:
                  email_hash:
                    type: string
                  website_id:
                    type: string
                  external_id_type:
                    type: string
                    enum:
                    - encrypted_email_hash
                    - '{client-specific}'
                required:
                - email_hash
                - website_id
                - external_id_type
                title: Lookup by email hash
              - type: object
                properties:
                  soft_id:
                    type: string
                  website_id:
                    type: string
                  external_id_type:
                    type: string
                    enum:
                    - encrypted_email_hash
                    - '{client-specific}'
                required:
                - soft_id
                - website_id
                - external_id_type
                title: Lookup by soft id
      x-readme:
        code-samples:
        - code: "curl -X POST https://localhost:8081/v1/identity/lookup \\  \n  -H 'Content-Type: application/json'\
            \ \\  \n  -d '{  \n     \"website_id\": \"1234\",\n     \"external_id_type\": \"crm_id\",\n\
            \     \"device_id\": \"123456789\"\n}'"
          language: shell
          name: ''
        samples-languages:
        - shell
  /id-resolution/v1/identity/enckey:
    post:
      description: ''
      operationId: post_id-resolutionv1identityenckey
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  key_base64:
                    type: string
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                required:
                - name
        '404':
          description: Not Found
          content: {}
      parameters:
      - in: header
        name: Authorization
        schema:
          type: string
        description: This header is expected to be set according to the pattern below, where {apikey}
          is client's private key created on Wunderkind Platform. See https://developer.wunderkind.co/docs/authenticate-api-requests#/
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                enc_key_name:
                  type: string
                  default: string
                  description: Encryption key name is contained in response of Realtime ID Lookup endpoint.
              required:
              - enc_key_name
      x-readme:
        code-samples:
        - code: "curl --request POST \\\n    --url https://api.wunderkind.co/id-resolution/v1/identity/enckey\
            \ \\\n    --header 'Authorization: apikey {apikey}' \\\n    --header 'accept: application/json'\
            \ \\\n    --header 'content-type: application/json' \\\n    --data '\n      {\n        \"\
            enc_key_name\": \"string\"\n      }'"
          language: shell
          name: ''
        samples-languages:
        - shell
